<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edmanfeng.smashnotes">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activities.SmashNotesActivity"
                android:windowSoftInputMode="adjustNothing|stateHidden">
            <!-- windowSoftInputMode set so bottomNavigationView doesn't pop
                up when the keyboard is open, taking too much screen -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner"
                      android:required="false" />

    </application>

</manifest>